.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content h1 {
    margin: 0;
    margin-top: 50px;
    font-weight: 700;
}

.register-redirect {
    margin-bottom: 40px;
}

.register-redirect a {
    text-decoration: none;
    color:  #0274b6;
}

.register-redirect a:hover {
    color: #9228d8;
}