body {
    margin: 0;
}

button:hover {
    filter: brightness(80%);
    cursor: pointer;
}

button:active {
    filter: brightness(70%);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    width: calc(100% - 30px);
    height: 75px;
    background-image: linear-gradient(to bottom right, #1a2239, #5067a2);
    transition: height 0.1s ease-in-out;
}

header img {
    width: 200px;
}

header button {
    margin-right: 4px;
    width: 120px;
    height: 40px;
    background-color: #2b2b2b;
    color: #fff;
    border: none;
    border-radius: 25px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16px;
}

@media only screen and (max-width: 600px) {
    header {
        height: 150px;
        flex-direction: column;
        padding: 20px 0;
        width: 100%;
    }

    .header img {
        width: 225px;
    }
}

.top-navbar {
    display: flex;
    width: 100%;
    background-color: #2b2b2b;
}

.dropdown-button {
    border: none;
}

.top-navbar a {
    margin: 0;
    padding: 15px 25px;
    background-color: #81f2ff;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    
}