body {
    margin: 0;
    height: 100vh;
    background-color: red;
}

button:hover {
    filter: brightness(80%);
    cursor: pointer;
}

button:active {
    filter: brightness(70%);
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    height: 75px;
    background-image: linear-gradient(to bottom right, #1a2239, #5067a2);
    transition: height 0.1s ease-in-out;
}

.top-header img {
    width: 200px;
}

.top-header button {
    margin-right: 4px;
    width: 120px;
    height: 40px;
    background-color: #2b2b2b;
    color: #fff;
    border: none;
    border-radius: 25px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.top-navbar {
    display: flex;
    justify-content: flex-start;
    height: 50px;
    background-color: #2b2b2b;
}

.top-navbar a, .dropdown-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 35px;
    height: 100%;
    background-color: #2b2b2b;
    border: none;
    color: #fff;
    fill: #fff;
    user-select: none;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    cursor: pointer;
    transition: all 50ms ease-in-out;
}

.top-navbar a:hover, .dropdown-button:hover, .top-navbar .active {
    background-color: #81f2ff;
    color: #000;
    fill: #000;
}

.dropdown-button svg {
    margin-left: 4px;
    width: 18px;
    height: 18px;
}

.dropdown-wrapper  {
    position: relative;
}

.dropdown-item-wrapper {
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: red;
    overflow: hidden;
    max-height: 0;
    transition: all 200ms ease-in-out;
}

.dropdown-item-wrapper a {
    display: block;
    position: relative;
    padding: 15px 0;
    padding-left: 25px;
}

.dropdown-button:hover + .dropdown-item-wrapper, .dropdown-item-wrapper:hover {
    max-height: 100vh;
}

.content {
    min-height: calc(100vh  - 105px - 50px - 75px);
    background-color: red;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75px;
    background-color: #333333;
}

footer .media-link {
    margin-bottom: 10px;
}

footer .media-link a {
    margin: 0 10px;
}

footer .media-link img {
    width: 20px;
    height: 20px;
}

footer span {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: white;
}

@media only screen and (max-width: 600px) {
    .top-header {
        height: 130px;
        flex-direction: column;
        padding: 15px 0;
    }

    .top-header img {
        width: 225px;
    }

    .content {
        min-height: calc(100vh  - 160px - 50px - 75px);
    }
}